*.code-workspace
*.pyc
.venve/
.venvs/
.notes_references/
.mypy_cashe/
.build_database/
.vscode/
log/
test_block_protected.py
*.dat
graeScript.egg-info/
flaskvenvs
flaskvenve
from_AutoBor
graeScripts/.in_progress/*
.in_progress/_find_duplicate_files_copy.py
cmdline/colorvalue/data/htmlcolors.db
